h1 {
  border: 5px solid gray;
  margin: 25px;
  padding: 10px;
}
#chaos_star {
  max-width: 50%;
  height: auto;
  margin: 10px;
}

footer {
  margin: 5px;
  padding: 10px; 
  background-color: #f2f2f2;
}